{% extends 'base.html.twig' %}

{% block title %}{{ 'siteName'|trans }}{% endblock %}

{% block body %}
    <section id="home">
        <div class="home container">
            <h1>Idle</h1>

            Todo:
            <ul>
                <li>Create first layout with comparing player or invite</li>
                <li>Add scss for this page</li>
                <li>php bin/console app:world:run-expansion-loop 100 150</li>
                <li>['name' => 'Empire du Fer', 'code' => 'empire', 'description' => 'Une faction puissante et disciplinée']</li>
                <li>['name' => 'Ligue des Cendres', 'code' => 'cendres', 'description' => 'Une faction religieuse et fanatique']</li>
                <li>['name' => 'Conclave des Nomades', 'code' => 'nomades', 'description' => 'Une faction libre et indépendante']</li>
            </ul>

            <a href="{{ path('game') }}">Game</a>
        </div>
    </section>
{% endblock %}
