@use "../abstracts/variables" as v;

#home {
    width: 100%;
    display: flex;
    justify-content: center;

    .home {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }
}

@media screen and (min-width:1991px) {
    #home {
        .home {
        }
    }
}

@media screen and (max-width:1280px) {
    #home {
        .home {
        }
    }
}

@media screen and (max-width:900px) {
    #home {
        .home {
        }
    }
}

@media screen and (max-width:620px) {
    #home {
        .home {
        }
    }
}